<div class="article-list mb-4">
        {% if articles|length > 0 %}
            {% for a in articles|sort((a, b) => a.sequence <=> b.sequence) %}
                <article class="article px-md-4 py-4 p-2">
                    <h6 class="mb-3">
                        <a rel="license" href="/page/license_information" target="_blank">
                            <img alt="Open access" class="me-2" style="height: 20px" src="https://upload.wikimedia.org/wikipedia/commons/2/25/Open_Access_logo_PLoS_white.svg" />
                        </a>
                        <span class="fw-bold text-muted">
                          {{ a.type }} |
                            {% if a.timeline.published_at  != null %}
                                {{ a.timeline.published_at|date('F d, Y') }}
                            {% else %}
                                {{ artaicle.published_at ? a.published_at|date('F d, Y') : '' }}
                            {% endif %}
                        </span>
                    </h6>
                    <h6><a class="title fw-bold" href="/{{ get_var('DOI') }}-{{ a.id }}">{{ a.title }}</a></h6>
                    <p class="text-muted" style="font-size: 14px">
                        {{ a.authors_names }}
                    </p>

                    <a href="/{{ get_var('DOI') }}-{{ a.id }}" class="btn btn-secondary btn-sm me-3"><i class="bi align-text-bottom bi-file-earmark-ruled me-2"></i> View Full Text</a>
                    {%  if get_pdf(a.id) %}
                        <a href="/{{ get_var('DOI') }}-{{ a.id }}/pdf" class="btn btn-danger text-white btn-sm me-3"><i class="bi align-text-bottom bi-file-earmark-arrow-down me-2"></i> Download PDF</a>
                    {% endif %}
                    {%  if get_html(a.id) %}
                        <a href="/{{ get_var('DOI') }}-{{ a.id }}/html" class="btn btn-danger text-white btn-sm me-3"><i class="bi align-text-bottom bi-file-earmark-arrow-down me-2"></i> View Full html</a>
                    {% endif %}
                    <button class="btn btn-outline-secondary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ a.id }}" aria-expanded="false" aria-controls="collapseExample">
                        <i class="bi align-text-bottom bi-eye me-1"></i> Preview Abstract
                    </button>
                    <a rel="license" class="float-end me-3" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">
                        <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
                    </a>
                    <div class="collapse" id="collapse-{{ a.id }}">
                        <div class="card border-0 mt-3 card-body">
                            {{ a.abstract|raw }}
                        </div>
                    </div>
                </article>
            {% endfor %}
             {% else %}
            <h3 class="text-center">No articles</h3>
        {% endif %}
</div>
