{% extends "layout.twig" %}
{% block content  %}
    <div class="py-5 bg-dark text-white">
        <div class="container text-center">
            <h1 class="mb-3 fw-bold">{{ page_title }}</h1>
        </div>
    </div>
    <div class="container my-5">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            {% for data in archives %}
                {% for volume in data.volumes|sort((a, b) => b.number <=> a.number)%}
                    <h4 class="after serif">Volume {{ volume.number }} {{ volume.title }}</h4>
                    <ul class="list-unstyled">
                        {% for issue in volume.issue %}
                            <li class="ms-md-4">
                                <h5>
                                    <a class="text-muted fw-bold" href="/{{ data.year }}/{{ volume.number }}/{{ issue.number }}-{{ issue.id }}">Issue {{ issue.number }} | {{ issue.title }}</a>
                                </h5>
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{%  endblock  %}