<div class="bg-light py-5">
    <div class="container text-center">
        <h3>
            {{ article.type }}
        </h3>
        <div>
            <p class="lead">
                {% if get_var('PUBLISHING_TYPE') != 'Continuous' %}
                    <span class="fw-bold font-monospace">VOLUME:</span> {{ article.volume }}<span class="text-muted fw-bold"> | </span> <span class="fw-bold font-monospace">ISSUE:</span> {{ article.issue }}<span class="text-muted fw-bold"> | </span>
                {% endif %}
                {% if article.timeline.published_at  != null %}{{ article.timeline.published_at|date('M d, Y') }}{% else %}{{ article.published_at ? article.published_at|date('M d, Y') : '' }}{% endif %}
                {% if get_var('PUBLISHING_TYPE') == 'Continuous' %}
                    <span class="text-muted fw-bold d-md-inline d-none "> | </span><span class="fw-bold font-monospace">CODE:</span> e-{{ article.id }}
                {% endif %}
                {% if get_var('PUBLISHING_TYPE') != 'Continuous' %}
                    <span class="text-muted fw-bold d-md-inline d-none "> | </span><span class="fw-bold font-monospace">PAGE:</span> ({{ article.first_page }} - {{ article.last_page }})
                {% endif %}
                {% if article.doi != null and get_var('JOURNAL_ID') != 7 %}
                    <span class="text-muted fw-bold d-md-inline d-none "> | </span> <a target="_blank" class="font-monospace d-md-inline d-block " rel="noreferrer noopener" href="https://doi.org/{{ article.doi }}"><span class="fw-bold text-dark">DOI:</span> <span class="text-muted">{{ article.doi }}</span></a>
                {% endif %}
            </p>
        </div>

    </div>
</div>