{% extends "layout.twig" %}
{% block content  %}
    {% include 'articles/components/header.twig' %}
    <div class="container my-5">

        {% include 'articles/components/nav.twig' %}
        <div class="tab-content my-4" id="pills-tabContent">
            <h3>{{ article.title|raw }}</h3>
            <hr />
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                {% include 'articles/components/abstract.twig' %}
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                {% include 'articles/components/citations.twig' %}
            </div>
        </div>


        <hr>
        {{ html|raw }}


        <hr />

        <div id="trendmd-suggestions"></div>



    </div>
{%  endblock  %}

{% block meta %}
    <meta name="citation_firstpage" content="{{ article.first_page }}">
    <meta name="citation_last" content="{{ article.last_page }}">
    <meta name="citation_doi" content="{{ article.doi }}">
    <meta name="dc.identifier" content="{{ article.doi }}">
    <meta name="citation_article_type" content="How to use">
    <meta name="citation_title" content="{{ article.title }}">
    <meta property="og:title" content="{{ article.title }}">
    <meta property="og:type" content="article">
    <meta name="citation_publication_date" content="{% if article.timeline.published_at  != null %}{{ article.timeline.published_at|date('Y/m/d') }}{% else %}{{ article.published_at ? article.published_at|date('Y/m/d') : '' }}{% endif %}">
{% endblock %}


{% block scripts %}
<script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>

{% if get_var('TRENDMD_JOURNAL_ID') != null %}
    <script defer src='//js.trendmd.com/trendmd.min.js' data-trendmdconfig='{"journal_id":"{{ get_var('TRENDMD_JOURNAL_ID') }}","element":"#trendmd-suggestions"}'></script>
{% endif %}

{% endblock %}